* {
	margin: 0;
	padding: 0;
}

.row {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

/*--------*/
/*HEADING*/
/*--------*/
.HowToCodeHeader {
	
	background-image: linear-gradient(rgb(22, 100, 208), rgba(4, 81, 229, 0.46)), url(imgs/HowToCodeHeader-min.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/*--ANIMATION--*/
}

.HowToCodetitle {

	font-family: 'Chivo', sans-serif;
	color: white;
	font-size: 500%;
	position: absolute;
	word-spacing: 5px;
	right: 25%;
	text-transform: uppercase;

}

.udemy img {
	width: 100%;
	height: auto;
}

.funJava {
	border-radius: 50%;
}

.btn:link,
.btn:visited {

	font-family: 'Muli', sans-serif;
	display: block;
	text-align: center;
	padding: 10px 30px;
	margin-top: 5px;
	text-decoration: none;
	border-radius: 100px;
	-webkit-transition: -webkit-text-decoration 2s;
	transition: -webkit-text-decoration 2s;
	transition: text-decoration 2s;
	transition: text-decoration 2s, -webkit-text-decoration 2s;
	margin-bottom: 10px;
	color: white;
	background-color: #1664d0;

}


.btn:active,
.btn:hover {
	text-decoration: underline;

}

.box p {
	margin-top: 10px;
	padding: 5px;
}

@media only screen and (max-width: 1050px) {

	.HowToCodetitle {

		left: 10%;

	}
}



@media only screen and (max-width: 780px) {

	h3 {
		margin-top: 120px;
	}

	.HowToCodetitle {
		width: 90%;
		font-size: 300%;
		left: 10%;

	}
	.HowToCodeHeader{background-size: 100vw 100vh;}
	

	.main-nav { margin-left: 50px;}

}



@media only screen and (max-width: 568px) {

	h3 {
		margin-top: 0px;
	}

}
